<div class="container mt-4">

    <div class="row">
        <div class="container">
            <h1>Products</h1>
            <app-products-device>

            </app-products-device>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 bg-success text-white p-4">
            <h3>Columna Izquierda</h3>
            <p>Contenido de la izquierda...</p>
        </div>
        <div class="col-md-6 bg-warning text-dark p-4">
            <h3>Columna Derecha</h3>
            <p>Contenido de la derecha...</p>
        </div>
    </div>




</div>


<footer>
    <app-footer-home>

        
    </app-footer-home>
</footer>