<div class="container text-center  ">
    <div class="row">
        <div class="col">
            <div class="container border p-3">
                <h1 class="display-5">Forms Template drive</h1>
               
                    <app-template-form-cars></app-template-form-cars>
              
            </div>




        </div>
        <div class="col">
            <div class="container border p-3">
                <h1 class="display-5">Reactive Forms</h1>

                <app-reactive-form-cars></app-reactive-form-cars>


            </div>
        </div>
    </div>
</div>